/* body의 height 값은 기본적으로 100% 가 아님. */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
background-color: #333333;
}

.container {

 
  width: 700px;
  height: 95vh;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {

  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;

}

.par {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

header>ul {
  display: flex;
 
}

header>ul>li {
  list-style-type: none;
  margin-right: 10px;

}

header>ul>li>a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  padding-bottom: 5px ;
  color: white;
}

header>ul>li:first-child>a {
  border-bottom: 3px solid white;
}

section {

  padding: 0.3rem;
  text-align: center;
}
section>p{
  margin: 10px;
  line-height: 30px;
  color: white;
}

section>p:first-child {
  font-size: 2rem;
  font-weight: bold;
}
section>p:last-of-type{
 font-size: 1.3rem;
 font-weight: 600;
}
button{
  width: 135px;
  height: 35px;
  background-color: white;
  border: none;
  font-weight: 600;
  border-radius: 5px;
}
footer>p{
  color: #434343;
}
footer>p>a{
  color: white;
}

header>ul>li>a:hover{
  border-bottom: 5px gray;
}